SUPABASE_URL=
SUPABASE_KEY=
DATABASE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
FRONTEND_URL=https://pmstest.saksolution.com
CORS_ORIGINS=https://pmstest.saksolution.com,https://www.pmstest.saksolution.com
GMAIL_REDIRECT_URI=https://pmstest.saksolution.com/api/v1/auth/google/callback
NODE_ENV=production